#======================================================================
# OS temporary files (Highly recommended to ignore)
#======================================================================
.DS_Store
Thumbs.db
desktop.ini
content_older.js

#======================================================================
# IDEs and Editors configuration directories
#======================================================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
temp/

#======================================================================
# Build artifacts / Extension packages
#======================================================================
*.zip

#======================================================================
# Log files
#======================================================================
*.log